@font-face{
    font-family: Roboto-Regular;
    src:url(../../fonts/Roboto-Regular.woff);
}
@font-face{
    font-family: Roboto-Thin;
    src:url(../../fonts/Roboto-Thin.woff);
}
@font-face{
    font-family: Roboto-Bold;
    src:url(../../fonts/Roboto-Bold.woff);
}
@font-face{
    font-family: rajdhani-bold;
    src:url(../../fonts/rajdhani-bold.woff2);
}